/* Preloader */
 
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgb(255,255,255);
    z-index:999; /* makes sure it stays on top */
}
 
#status {
    width:128px;
    height:128px;
    position:absolute;
    left:50%; /* wyśrodkowujemy w poziomie */
    top:50%; /* wyśrodkowujemy w pionie */
    margin:-64px 0 0 -64px;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    font-family: 'Roboto';
}
.container {
    margin: 0 auto;
    width: 95%;
    /*height: 80%;*/
}
/*form*/
.navSearch {
    display: flex;
    justify-content: flex-end;
}
.countryForm {
    padding: 2% 0% 0 0;
    width: 430px;
}
.countryTitle {
    text-align: left;
    font-size: 2.4em;
    color: white;
    line-height: 10pt;
    padding-left: 27px;
}
#inputContainer,
#input,
#complete{
    width: 330px;
    height: 35px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 30px;
}
#search {
    position: absolute;
    top:0;
    right:-37px;
}
#inputContainer {
    position: relative;
}
#input,
#complete{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 8px;
    border: 2px solid white;
    cursor: text;
}
#input:focus,
#complete:focus{
    outline: none;
    border-color: white;
}
#input {
    color: white;
    background-color: transparent;
}
#complete {
  color: #999;
}
#search {
    cursor: pointer;
    width: 40px;
    height: 2.45em;
    background:url(../img/search.png) no-repeat;
    background-color: white;
    border-radius: 0  5px 5px 0;
    border: white;
}
#search:hover {
    cursor: pointer;
    width: 40px;
    height: 2.45em;
    background:url(../img/searchhover.png) no-repeat;
    background-color: #222222;
    border-radius: 0  5px 5px 0;
    border: #222222;
}
.countryVal {
    color: rgb(169, 178, 185);
    font-weight: 100;
    line-height: 7pt;
}
.error {
    color: red;
    font-weight: 100;
    line-height: 0;
    padding: 0 0 0 8%;
    margin: 0;
}
.error {
    display: none;
}
/*zoom*/
.subNav {
    display: flex;
    justify-content: flex-end;
}
.zoom {
    width: 195px;
}
.home {
    background:url(../img/home.png) no-repeat;
    background-color: black;    
}
.home:hover {
    background:url(../img/home-red.png) no-repeat;     
}
.in {
    background:url(../img/plus.png) no-repeat;
    background-color: black;    
}
.in:hover {
    background:url(../img/plus-red.png) no-repeat;     
}
.out {
    background:url(../img/minus.png) no-repeat;
    background-color: black;    
}
.out:hover {
    background:url(../img/minus-red.png) no-repeat;     
}
.circle {
    margin-right: 5%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    float: left;
}
.map {
    align-self: center;
    overflow: scroll;
    width: 90%;
    height: 75%;
}
.land {
    fill: #888f94;
    fill-opacity: 1;
    stroke:black;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.title {
    background-color: black;
    color: white;
}
.info {
    background-color: rgba(48, 48, 48, .5);
    width: 300px;
    height: 100%;
    position: absolute;
    top:0;
    left: -300px;
}
.close {
    z-index: 100;
    cursor: pointer;
    padding: 1%;
}
.closeLine {
    background-color: rgb(136, 143, 148);
    width: 2px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 280px;
}
.close1 {
    transform:rotate(45deg);
}
.close2 {
    transform:rotate(135deg);
}
.listCountry, .itemCountry {
    padding-top: 40%;
    color: white;
    font-size: 1em;
    list-style-type: none;
}


@media screen and (max-width: 500px) {
.countryForm {
    padding: 5% 2% 0 0;
}
#inputContainer,
#input,
#complete{
    width: 255px;
}


}
